body {	
	font-family: sans-serif;
	text-align: center;
	background: #000;
	color: #fff;
}

h1 {
	margin-bottom: 0px;
}

p {
	margin-top: 2px;
	margin-bottom: 20px;
}

canvas {
	border: 1px solid #fff;
}